body{
    background-color: #D3C8B4;
}
.main {
    background-color: #D3C8B4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .main .link{
    color:#ffffff;
    text-decoration: none;
  }

  .main .link:active{
    color:#000000;
  }

  .main .overlap-wrapper {
    background-color: #D3C8B4;
    width: 1440px;
    height: 900px;
  }
  
  .main .overlap {
    position: relative;
    height: 900px;
    background-color: #D3C8B4;
  }
  
  .main .title {
    position: absolute;
    width: 1440px;
    height: 70px;
    top: 0;
    left: 0;
  }
  
  .main .div-wrapper {
    position: relative;
    width: 700px;
    height: 40px;
    top: 25px;
    left: 500px;
  }
  
  .main .text-wrapper {
    top: -1px;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main .menu {
    position: absolute;
    width: 1440px;
    height: 70px;
    top: 70px;
    left: 0;
  }
  
  .main .frame-wrapper {
    position: relative;
    width: 400px;
    height: 25px;
    top: 20px;
    left: 525px;
  }
  
  .main .frame {
    display: flex;
    width: 400px;
    align-items: flex-start;
    gap: 55px;
    position: relative;
  }
  
  .main .div {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 400;
    font-size: 24px;
    white-space: nowrap;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }

  .main .div-2 {
    position: absolute;
    width: 1160px;
    height: 650px;
    top: 135px;
    left: 0;
  }
  
  .main .overlap-group {
    position: absolute;
    width: 1140px;
    height: 320px;
    top: 0;
    left: 0;
  }
  
  .main .image {
    width: 453px;
    height: 379px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .main .text-wrapper-3 {
    position: absolute;
    top: 17px;
    left: 515px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  .main .text-wrapper-9 {
    position: absolute;
    top: 342px;
    left: 515px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main .student {
    position: absolute;
    width: 633px;
    top: 74px;
    left: 513px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main .span {
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
  }
  
  .main .text-wrapper-4 {
    font-size: 12px;
    left: 515px;
  }
  
  .main .text-wrapper-5 {
    position: absolute;
    top: 342px;
    left: 119px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main .scheduleinfo {
    position: absolute;
    width: 633px;
    top: 399px;
    left: 117px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main .img {
    width: 351px;
    height: 305px;
    top: 346px;
    left: 812px;
    position: absolute;
    object-fit: cover;
  }
  
  .main .additional {
    position: absolute;
    width: 276px;
    height: 651px;
    top: 136px;
    left: 1163px;
  }
  
  .main .text-wrapper-6 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main .image-2 {
    width: 276px;
    height: 304px;
    top: 347px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .main .p {
    position: absolute;
    width: 276px;
    top: 47px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main .down-cont {
    position: absolute;
    width: 1439px;
    height: 110px;
    top: 787px;
    left: 0;
  }
  
  .main .text-wrapper-7 {
    position: absolute;
    top: -1px;
    left: 37px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main .student {
    width: 1371px;
    top: 34px;
    left: 38px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  